@font-face {
  font-family: '0xProto Nerd Font Mono';
  src: url('fonts/0xProtoNFM-Regular.eot');
  src: url('fonts/0xProtoNFM-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/0xProtoNFM-Regular.woff2') format('woff2'),
      url('fonts/0xProtoNFM-Regular.woff') format('woff'),
      url('fonts/0xProtoNFM-Regular.ttf') format('truetype'),
      url('fonts/0xProtoNFM-Regular.svg#0xProtoNFM-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN';
  src: url('fonts/DIN.woff2') format('woff2'),
      url('fonts/DIN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --menu-container-width: 300px; /* Set this to the width of your menu container */
  --desktop-header-height: 100px;
}

body {
  overflow: hidden;
}

#intro-section {
  font-family: 'DIN';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #000; /* Dark background */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99; /* Make sure it's above all other content */
  pointer-events: auto;
  cursor: pointer;
}

.intro-content {
  text-align: center;
}

#small-bio {
  color: rgb(200, 200, 200);
}

#scroll-indicator {
  position: fixed; 
  bottom: 1%; 
  left: 50%; 
  font-size: 2rem;
  transform: translateX(-50%);
}

#info-scroll {
  position: fixed; 
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(200, 200, 200);
}

/* Dat GUI */ 
.dg .property-name {
  font-family: '0xProto Nerd Font Mono';
}

.dg .slider:before {
  display: none;
}
/* Dat GUI */ 

/* Header that contains the navigation */
#desktop-header {
  position: fixed;
  font-family: "Poppins", sans-serif;  
  top: 0;
  left: 0;
  width: 100%;
  height: var(--desktop-header-height);
  background-color: rgba(0, 0, 0, 1); /* Dark background with some transparency */
  z-index: 10000; /* Make sure it stays on top of the Three.js canvas */
  backdrop-filter: blur(5px); /* Optional: adds a blur effect to the background */
  -webkit-backdrop-filter: blur(5px); /* Safari support */
}

/* Navigation within the header */
#desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px; /* Adds some spacing around the nav items */
  height: var(--desktop-header-height); /* Adjust based on your design */
}

#desktop-nav .logo {
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer; 
}

#desktop-nav .logo:hover {
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Individual nav links */
.nav-links li {
  margin-left: -30px;
}

/* Basic link styling */
.nav-link {
  text-decoration: none;
  padding: 8px 12px;
  color: #818181;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

/* Default background for nav links */
.nav-link:hover {
  color: whitesmoke;
  text-decoration: underline;
  text-underline-position: 10px;
}

/* Active state (the toggle effect) */
.nav-link.active {
  background-color: #333;
  color: #fff;
}

#bg {
  width: 100%;  /* Make sure it takes the full width of the parent */
  height: 100%; /* Make sure it takes the full height of the parent */
  display: block;
  image-rendering: pixelated;
  position: absolute; /* Ensure it stays within the bounds of the parent */
  top: 0;
  left: 0;
}

#canvas-container {
  position: fixed;
  top: var(--desktop-header-height); ;
  left: var(--menu-container-width); /* Position the canvas container to the right of the menu container */
  width: calc(100% - var(--menu-container-width)); /* Ensure canvas container does not exceed available width */
  height: calc(100% - var(--desktop-header-height));
  z-index: -1;
  background-color: #000; /* Optional: Set a background color for visibility */
  box-sizing: border-box; /* Ensure padding and border are included in the width and height calculations */
  transform: translateZ(0); 
  pointer-events: auto;
  overflow: hidden;
}

.icons {
  margin-top: 20px;
}

.icons a {
  margin: 0 10px;
  text-decoration: none;
}

.icons img {
  width: 30px;
  height: 30px;
}

/* Center the left arrow vertically and place it on the left side with a 5% margin */
#prev-button 
{
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translateY(-5%);
  z-index: 1; /* Adjust the z-index as needed */
}

/* Center the right arrow vertically and place it on the right side with a 5% margin */
#next-button 
{
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-5%);
  z-index: 1; /* Adjust the z-index as needed */
}

/* Add transition for hover effect to the prev/next buttons */
#prev-button:hover, #next-button:hover 
{
  color: #cccccc; /* Change icon color to slightly darker on hover */
  transform: scale(1.25); /* Scale up by 25% on hover */
}

/* UI */

/* GENERAL */
p 
{
  color: rgb(85, 85, 85); 
}

/* TRANSITIONS */
a, .btn 
{
  transition: all 300ms ease;
}

/* DESKTOP NAV */
nav, .nav-links 
{
  display: flex;
}

nav 
{
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links 
{
  gap: 2rem; 
  list-style: none;
  font-size: 1.5rem; 
}

a 
{
  text-decoration: none;
  text-decoration-color: black;
}

a:hover 
{
  color: rgb(255, 255, 255);
  text-decoration: underline;
  text-decoration-color: white; 
}

.logo 
{
  font-size: 2rem; 
}

.logo:hover 
{
  cursor: default;
}

#darkOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.175); /* Slightly more transparent */
  pointer-events: none; /* Allows interaction with underlying elements */
  opacity: 0; /* Start with it hidden */
  z-index: 999; /* Ensure it covers everything */
  transition: opacity 0.3s ease-out; /* Smooth transition effect */
  backdrop-filter: blur(15px) saturate(180%); /* Apply a stronger blur and saturation */
  -webkit-backdrop-filter: blur(15px) saturate(180%); /* Safari support */
}

/* PORTFOLIO PROJECT INFO */
#portfolio-info {
  font-family: '0xProto Nerd Font Mono'; 
  color: rgb(255, 255, 255); 
  position: absolute;
  top: 3%; /* Adjusts the distance from the top of the canvas */
  left: 0;
  right: 0;
  max-width: 66%; /* Sets a maximum width for the container */
  margin: 0 auto; /* Centers the container horizontally */
  display: flex;
  flex-direction: column; /* Stacks the rows vertically */
  gap: 10px; /* Adds spacing between the rows */
  pointer-events: none; /* Allows clicks to pass through */
  overflow: hidden;
}

/* Container for the portfolio icons */
#portfolio-icons {
  position: fixed;
  right: 1%; /* Adjust as needed to create space from the right edge */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertical centering */
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0px 8px;
  border-radius: 16px;
  flex-direction: column;
  align-items: center; /* Center icons horizontally */
  z-index: 10; /* Ensure it appears above other content */
}

.icon {
  margin: 8px 0; /* Space between icons */
  text-align: center; /* Center text below icons */
}

.icon p {
  font-family: 'DIN';
  font-size: 14px;
  color: whitesmoke; 
  margin-top: -2px;
  margin-bottom: 1px;
}

.icon-img {
  width: 48px; /* Adjust size of icons */
  height: 48px; /* Adjust size of icons */
  max-width: 48px;
  max-height: 48px;
}

.project-info-container 
{
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.75); /* Background with transparency */
  border-radius: 5px; /* Rounded corners */
  overflow: hidden;
}

.info-row {
  display: flex;
  justify-content: space-between; /* Positions content at the extreme ends */
  width: 100%;
}

#project-name, #company-name {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  pointer-events: auto; /* Allows interaction with the text */
}

#project-year, #author-name {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  pointer-events: auto; /* Allows interaction with the text */
  text-align: right;
}

/* Smaller font for company name and author name */
#company-name, #author-name {
  color:rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
}

#project-year, #project-name 
{
  padding: 4px 10px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
}

#company-name
{
  padding: 0px 10px; /* Padding around the text */
}

#author-name
{
  padding: 0px 10px; /* Padding around the text */
}

#project-description {
  font-family: '0xProto Nerd Font Mono'; 
  position: absolute;
  color: white;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: inline-block;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.75;
  padding: 4px 8px;
  border-radius: 5px;
  z-index: 999;
  pointer-events: auto;
  overflow: hidden;
  width: auto;
  cursor: pointer;
}

/* Additional styles to ensure text is centered vertically and horizontally */
#project-description p {
  font-size: 20px; /* Larger font size when hovered */
  text-align: center; /* Center text */
}
/* PORTFOLIO PROJECT INFO */

/* PORTFOLIO PROJECT CONTENT */
#project-wrapper {
  position: relative;
  height: calc(90%); /* Adjust this height based on the header and carousel dots height */ 
  width: 100%;
  overflow: auto; /* Hide overflow */
  scrollbar-width: none;
  padding: 0 50px;
  box-sizing: border-box;
  pointer-events: none;
}

#project-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9; /* Keep it below project description */
  opacity: 0; /* Start hidden */
  pointer-events: none; /* Prevent interaction */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#project-container.visible {
  z-index: 999;
}

.hidden {
  display: none;
}

/* Container for the project header */
.project-header {
  font-family: '0xProto Nerd Font Mono';
  position: relative; /* So child elements can be absolutely positioned */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('/media/placeholder-image.jpg');
  background-size: cover;
  background-position: center;
  height: 260px; /* Adjust the height as needed */
  width: 100%;
  color: white; /* For the text color */
  display: flex;
  align-items: flex-end; /* Aligns title to bottom */
  padding: 20px;
  border-radius: 8px; /* Optional: For rounded corners */
  margin-bottom: 30px;
}

/* Title style */
.project-title {
  position: absolute;
  bottom: 40px; /* Adjust to control distance from the bottom */
  left: 3.5%; /* Adjust to control distance from the left */
  font-size: 3rem; /* Adjust size as needed */
  margin: 0;
  z-index: 1; /* Ensure it's on top of the gradient */
}

/* Tagline below the header */
.project-tagline {
  position: absolute;
  bottom: 10px; /* Adjust to control distance from the bottom */
  left: 3.5%; /* Adjust to control distance from the left */
  font-size: 1.5em; /* Adjust size as needed */
  margin: 0;
  z-index: 1; /* Ensure it's on top of the gradient */
  color: #FFA500;
}

/* Content Sections */
.content-section {
  font-family: 'DIN';
  display: flex;
  flex-wrap: wrap; /* Wrap content on smaller screens */
  align-items: flex-start; /* Align items to the top */
  justify-content: center; /* Center items horizontally */
  width: 100%;
  max-width: 85%; /* Ensure it doesn’t stretch too wide */
  gap: 10px;
}

.content-image {
  max-width: 40%;
  max-width: 300px;
  height: 200px;
  border-radius: 8px;
  align-self: center;
  object-fit: cover; /* Crops the image to fit */
  object-position: center; /* Centers the cropped image */
  display: block; /* Ensures it's treated as a block element */
}

.content-paragraph {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #c4c4c4;
}

/* Handle alternating image positions */
.content-section .left {
  order: -1; /* Image appears first */
}

.content-section .right {
  order: 1; /* Image appears last */
}

/* Video Section */
.video-section {
  margin-bottom: 10px;
  text-align: center;
}

.content-video {
  max-width: 100%;
  border-radius: 8px;
}

.content-subtitle {
  font-size: 1rem; 
  font-weight: lighter;
  margin-top: 2px;
}

/* Category Section */
.category-section {
  justify-content: left; /* Center items horizontally */
  text-align: left; /* Center text */
}

.category-title {
  font-size: 1.8rem;
  color: #dfdfdf;
} 

.content-spacer {
  height: 20px; 
}

/* Download Section */
.download-section {
  font-family: 'DIN';
  text-align: center;
  margin-top: -40px;
}

.download-button {
  display: inline-block;
  padding: 12px 12px;
  font-size: 20px;
  font-weight: bolder;
  background-color: #FFA500;
  color: #664200;
  border-radius: 32px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #d68b00;
  color: #533600;
  text-decoration: none;
}
/* PORTFOLIO PROJECT CONTENT */


/* Media Query for Desktop */
@media only screen and (min-width: 768px) {
  #portfolio-info {
    max-width: 66%;
  }

  #project-name, #company-name {
    font-size: 28px; /* Larger font size for desktop */
  }

  #project-year, #author-name {
    font-size: 28px; /* Larger font size for desktop */
  }

  #company-name, #author-name {
    font-size: 22px; /* Slightly larger for desktop */
  }

  #project-description 
  {
    font-size: 18px; 
  }
}

/* Media Query for Mobile */
@media only screen and (max-width: 767px) {
  #portfolio-info {
    max-width: 85%;
  }

  #project-name, #company-name {
    font-size: 20px; /* Smaller font size for mobile */
  }

  #project-year, #author-name {
    font-size: 20px; /* Smaller font size for mobile */
  }

  #company-name, #author-name {
    font-size: 14px; /* Smaller for mobile */
  }

  #project-description 
  {
    font-size: 14px; 
  }
}


/* CAROUSEL */ 
#carousel-dots {
  position: absolute;
  bottom: 3%; /* Adjust this value to control how far from the bottom the dots are placed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adjust the gap between the dots */
  z-index: 1000;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #949494;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  transition: all 0.3s ease;
}

.dot:hover 
{
  width: 16px;
  height: 16px; 
}

.dot.active {
  height: 16px;
  width: 16px;
  background:conic-gradient(#949494 0%, 0, #FFFFFF)
}

/* Style for the countdown circle */
svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: white;
  animation: countdown 10s linear infinite forwards;
}
/* CAROUSEL */ 

#arrow-down {
  position: absolute;
  color: white;
  font-size: 24px; /* Adjust size of the arrow */
  top: calc(100% - 125px); /* Positions it above the project description */
  left: 50%;
  transform: translateX(-50%);
  z-index: 998;
  cursor: pointer;
  pointer-events: auto; /* Allows interaction with the arrow */
  animation: bounce 2s ease-in-out infinite; /* Apply the bounce animation */
}

/* General Menu Container Styles */
.menu-container {
  font-family: '0xProto Nerd Font Mono';
  position: absolute;
  width: var(--menu-container-width);
  height: calc(100% - 100px);
  top: var(--desktop-header-height); /* Adjusted for header */
  left: 0;
  z-index: 1;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1; 
  overflow: hidden;
}

.sub-menu-container {
  width: calc(100% - 2px); 
  border: 1px solid #666666;
  padding-bottom: 4px; 
}

.sub-menu-container-explorer {
  width: calc(100% - 2px); 
  border: 1px solid #666666;
  padding-bottom: 4px; 
  flex: 1;
}

/* Title Block */
.menu-title {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: right;
}

.menu-title h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.menu-toggle {
  display: flex;
  justify-content: right;
}

.toggle-button {
  font-family: '0xProto Nerd Font Mono';
  background-color: transparent;
  color: rgb(155, 155, 155);
  padding-top: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 0 5px;
  flex: 1;
}

.toggle-button.active {
  text-decoration: underline;
  color: white; 
  text-underline-offset: 18px;
  text-decoration-thickness: 2px;
  text-decoration-color: whitesmoke;
}

.toggle-button:hover 
{
  text-decoration: underline;
  text-underline-offset: 18px;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(211, 211, 211);
  color: rgb(211, 211, 211);
}

/* Search and Language Block */
.menu-search-language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px; 
}

.search-bar {
  display: flex;
  align-items: left;
  flex-grow: 1;
}

.search-bar input {
  font-family: '0xProto Nerd Font Mono';
  width: 80%;
  padding: 5px;
  background-color: #444;
  color: #fff;
  border: none;
  margin-right: 5px;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-top: 4px;
}

.folder-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.language-dropdown select {
  font-family: '0xProto Nerd Font Mono';
  padding: 5px;
  background-color: #444;
  color: #fff;
  border: none;
}

/* Folder and Arrow Styling */
.explorer {
  margin-top: 10px;
  margin-left: 10px;
  min-height: 0;
  flex: 1;
}

.explorer-header {
  margin-bottom: 10px;
}

.explorer h1 
{
  font-size: 12px;
  font-weight: 100;
  color: whitesmoke;
}

.folder {
  margin-bottom: 10px;
}

.folder-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 100;
  margin-bottom: 12px;
}

.arrow {
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.folder-header.open .arrow {
  transform: rotate(90deg);
}

/* Hide the folder contents by default */
.folder-content {
  display: none;
  margin-left: 0px;
  margin-top: 4px;
}

.project {
  list-style-type: square;
  margin-bottom: 4px;
  font-size: 14px;
}

.project:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Style for favorite projects */
.project.favorite {
  color: #FFA500; /* Yellow/orange color for favorite projects */
}

/* Optional: style for the star icon */
.project.favorite::before {
  color: #FFA500; /* Color of the star, can match the text color */
}

.project.selected {
  color: rgb(180, 180, 180)
}
/* FOLDER MENU */

/* COPYRIGHT */
#copyright {
  font-family: 'DIN';
  position: fixed; /* Fixes the position relative to the viewport */
  bottom: 5px; /* Distance from the bottom of the screen */
  right: 5px; /* Distance from the right side of the screen */
  font-size: 12px; /* Font size */
  color: #ffffff; /* Text color */
  background-color: rgba(0, 0, 0, 0.2); /* Optional: Background with transparency */
  padding: 5px 8px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  z-index: 3; /* Ensure it stays above most elements */
  pointer-events: none; /* Prevents it from blocking clicks on other elements */
}

#copyright-model {
  font-family: 'DIN';
  position: fixed; /* Fixes the position relative to the viewport */
  bottom: 35px; /* Distance from the bottom of the screen */
  right: 5px; /* Distance from the right side of the screen */
  font-size: 12px; /* Font size */
  color: #ffffff; /* Text color */
  background-color: rgba(0, 0, 0, 0.2); /* Optional: Background with transparency */
  padding: 5px 8px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  z-index: 3; /* Ensure it stays above most elements */
  pointer-events: auto; /* Prevents it from blocking clicks on other elements */
}

@media only screen and (max-width: 1024px) {
  .menu-container {
    display: none;
  }
  /* Ensure canvas container takes full width when menu is hidden */
  #canvas-container {
    left: 0; /* No offset from the left */
    width: 100%; /* Full width when the menu is hidden */
  }

  /* Ensure flexbox layout for the canvas container */
  .canvas-container {
    flex-grow: 1; /* Make the canvas container expand */
    width: 100%; /* Full width */
  }
}

@media only screen and (max-width: 767px) {
  .icon-img {
    width: 20px; /* Adjust size of icons */
    height: 40px; /* Adjust size of icons */
    max-width: 20px;
    max-height: 20px;
  }
  .icon p {
    font-size: 10px;
  }
  #copyright {
    font-size: 10px; /* Smaller font size for mobile */
    padding: 3px 8px; /* Adjusted padding for mobile */
  }
  #copyright-model {
    font-size: 10px; /* Smaller font size for mobile */
    padding: 3px 8px; /* Adjusted padding for mobile */
    bottom: 25px
  }
}
/* COPYRIGHT */

 /* The switch - the box around the slider */
 .switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 1%;
}

.switch.lofi { 
  bottom: 2% 
}

.switch.grid { 
  bottom: 7% 
}

.switch-img {
  position: relative;
  width: 32px;
  height: 32px; 
  left: 64px; 
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FFA500;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFA500;;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.arrow-switch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  left: 15%; /* Position the left arrow */
}

.right {
  right: 15%; /* Position the right arrow */
}

.arrow-switch img {
  opacity: 0.5;
  width: 50px; /* Adjust the size of the arrow images */
  height: 50px;
  user-select: none; /* Prevents the image from being selected */
  transition: all 0.3s ease-in-out;
}

.arrow-switch:hover img {
  width: 64px;
  height: 64px; 
  opacity: 1;
}

/* TAGS */ 
.small-tag {
  display: inline-block;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  background-color: #3498db; /* Default color, overridden dynamically */
  border-radius: 6px;
  margin-left: 10px;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  background-color: #3498db; /* Default color, overridden dynamically */
  border-radius: 10px;
}

/* ANIMATION */ 
@keyframes breathing {
  0%, 100% {
    background-color: rgba(0, 0, 0, 0.4); /* Initial background color with opacity */
  }
  50% {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background color at peak of the animation */
  }
}

@keyframes countdown {
  from {
    stroke-dashoffset: 113px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

/* Add delay between each bounce */
@keyframes bounce {
  30%, 60% {
    transform: translateX(-50%) translateY(-8px); /* Move up */
  }
}